
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.background {
  background-image: url(/public/images/branden-skeli-kQ0_flbwBI4-unsplash\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 17%;
  width: 100%;
  min-height: 60vh;
  max-height: 40.25rem;
  object-fit: cover;
}

@media (max-width: 750px) {
  .background {
    background-image: url(/public/images/background-home-media.png);
    min-height: 100vh;}
    }

