* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.background {
  background-image: url(/public/images/branden-skeli-kQ0_flbwBI4-unsplash\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 17%;
  width: 100%;
  min-height: 70vh;
  max-height: 40.25rem;
  object-fit: cover;
}
.secondView {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
}
.conteinerForm {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.divImage {
  width: 50%;

}
.imgback {
  width: 100%;
  height: 1024px;

}

@media (max-width: 750px) {
  .background {
    background-image: url(/public/images/background-home-media.png);
    min-height: 100vh;
  }
}
@media (max-width: 960px){
  .secondView {
    width: 100%;
    display: flex;  
    justify-content: center;
  }
  .divImage {
    display: none;
  }
}

@media (max-width:720px) {
  
  .secondView {
    width: 100%;
    
    display: flex;  
    justify-content: center;
    
  }
  .conteinerForm {
    width: 30rem;
  }
}
